h1 {
    color: red;
}

.container {
    max-width: 1280px;
    margin: auto;
    padding-left: 5rem;
    padding-right: 5rem;
    height: 100%;
}

header {
    background-color: #222222;
    height: 6rem;
}

.header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav {
    color: #ffffff;
    display: flex;
    font-size: 18px;
    gap: 2rem;
}

.navlink {
    color: #cbcaca;
}

.secondary-btn {
    color: #cacaca;
    border: 0.2rem solid #d9d9d9;
    padding: 0.1rem 3.5rem;
		background: red;
}