html {
    height: 100%;
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    min-width: 320px;
    line-height: 1.5;
    font-size: 1.6rem;
    color: #ffffff;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
    text-align: center;
}

li {
    list-style: none;
}