main {
    background-color: var(--clr-base-ultra-dark);
}

h1 {
    font-size: 3rem;
    line-height: 1.1;
    text-transform: uppercase;
}

h2 {
    font-size: 3.6rem;
}

header {
    height: 6rem;
    background-color: var(--clr-base-ultra-dark);
}

.header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header-nav {
    gap: 2rem;
    display: flex;
}

@media (min-width:1024px) {
    .hamburger {
        display: none;
        font-size: 24px;
    }
}

@media (max-width:1024px) {
    .header-wrap {
        display: flex;
    }
}

@media (max-width:1024px) {
    .hamburger {
        display: block;
    }

    .header-nav {
        display: none;
        overflow: hidden;
        position: absolute;
        background-color: var(--clr-white);
        text-align: center;
        right: 0;
        left: 0;
        z-index: 2;
        top: 6rem;
    }
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}

.navlink {
    color: var(--clr-base-light);
}

.navlink:hover {
    transition: all .3s;
    color: var(--clr-white);
}

.secondary-btn {
    border: 0.2rem solid var(--clr-base-light);
    padding: 0.1rem 3.5rem;
    border-radius: 100px;
}

/* !!!!!hamburger!!!!! */
#checkbox_toggle {
    display: none;
}

.hamburger-line {
    background-color: white;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
}

.hamburger-line::before,
.hamburger-line::after {
    background-color: white;
    content: '';
    display: block;
    position: absolute;
    transition: all .3s;
    width: 100%;
    height: 100%;
}

.hamburger-line::before {
    top: 7px;
}

.hamburger-line::after {
    top: -7px;
}

#checkbox_toggle:checked ~ .header-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    height: 100vh;
    transition: all .5s;
}

#checkbox_toggle:checked ~ .hamburger .hamburger-line {
    background-color: transparent;
}

#checkbox_toggle:checked ~ .hamburger .hamburger-line::before {
    transform: rotate(-45deg);
    top: 0;
}

#checkbox_toggle:checked ~ .hamburger .hamburger-line::after {
    transform: rotate(45deg);
    top: 0;
}

/* !!!!!hero!!!!! */
.hero {
    height: 94vh;
}

.hero-wrap {
    display: flex;
    flex-direction: columns;
    gap: 2rem;
}

.hero-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}

.hero__left-clmn {
    width: 60%;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero__right-clmn {
    width: 40%;
}
